* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: rgb(229, 246, 255);
  background: radial-gradient(
    circle,
    rgba(229, 246, 255, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 75px;
  color: #161a30;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#heading-container {
  margin-top: 70px;
  margin-bottom: 40px;
  display: flex;
  text-align: center;
  justify-content: center;
  /* letter-spacing: 8px; */
  font-style: bold;
  width: 100%;
  font-family: "rifton";
}

#main-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.box {
  background-color: #fff;
  width: 880px;
  /* height: 350px; */
  box-shadow: 2px 2px 60px #d9deeb;
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 24px;
}

.box .heading {
  display: flex;
  align-items: center;
  background-color: #31304d;
  justify-content: center;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #e3e8ec;
  border-radius: 5px 5px 0px 0px;
}

.box h2 {
  color: #ffffff;
}

.box #controls {
  width: 100%;
  height: 90%;
}

.box #controls .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e3e8ec;
}

.box #controls .row:first-child div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  height: 30px;
  width: 100%;
}

#encode,
#decode {
  margin: 10px;
}

input[type="radio"]:checked + label {
  color: #31304d;
  font-weight: 600;
}

.box #controls .row:first-child div:last-child {
  border-left: 1px solid #e3e8ec;
}

.box #controls .row:nth-child(2) div {
  display: flex;
  flex-direction: row;
  color: #90999e;
  font-weight: 500;
  height: fit-content;
  width: 100%;
  padding-top: 5px;
}

.box #controls .row:nth-child(2) div div {
  padding-bottom: 10px;
}

.box #controls .row:nth-child(2) div span {
  margin-left: 10px;
}

.box2 {
  background-color: #fff;
  width: 400px;
  height: 200px;
  box-shadow: 2px 2px 60px #d9deeb;
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
}

.box2 .heading {
  display: flex;
  align-items: center;
  background-color: #31304d;
  justify-content: center;
  height: 90px;
  width: 100%;
  border-bottom: 1px solid #e3e8ec;
  border-radius: 5px 5px 0px 0px;
}

.box2 h2 {
  color: #ffffff;
}

.box2 #controls {
  width: 100%;
  height: 100%;
}

.box2 #controls .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e3e8ec;
}

.box2 #controls .row:first-child div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

#shift-input,
#mod-input {
  align-self: center;
  text-align: center;
  width: 40px;
  border: 0;
  outline: none;
  font-size: 14px;
}

.box #controls .row:nth-child(2) div:last-child {
  border-left: 1px solid #e3e8ec;
}

.box #controls .column div {
  display: flex;
  flex-direction: column;
  color: #90999e;
  font-weight: 500;
  height: fit-content;
  width: 100%;
  padding-top: 15px;
}

.box #controls .column div:last-child {
  border-bottom: 1px solid #e3e8ec;
  padding-bottom: 15px;
}

.box #controls .column div:last-child {
  padding-top: 8px;
}

#alphabet-input {
  align-self: center;
  text-align: center;
  width: 90%;
  border: 0;
  outline: none;
  font-size: 16px;
}

.box #controls .row:nth-child(4) div {
  display: flex;
  flex-direction: column;
  color: #90999e;
  font-weight: 500;
  height: fit-content;
  width: 100%;
  padding: 5px;
  text-align: left;
}

.box #controls .row:nth-child(4) div:last-child {
  border-left: 1px solid #e3e8ec;
}

select {
  border: 0;
  padding: 5px;
  outline: 0;
  font-size: 16px;
}

#submit {
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 400;
  margin: 20px 0px 20px 0px;
  line-height: 1.5;
  text-align: center;
  background-color: transparent;
  padding: 6px 64px;
  font-size: 1rem;
  border-radius: 5px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #fff;
  background: rgb(38, 52, 95);
  background: linear-gradient(
    135deg,
    rgba(38, 52, 95, 1) 0%,
    rgba(83, 118, 177, 1) 100%
  );
}

#submit:hover {
  background-color: #26a4df;
  border-color: #26a4df;
}

.box2 textarea {
  width: 100%;
  height: 90%;
  padding: 15px;
  font-size: 14px;
  box-sizing: border-box;
  resize: none;
  border: none;
  outline: none;
  border-radius: 5px;
}
